{% load static %}
<html>
    <head>
        <title>Мини-Блог</title>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
      <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <div class="container">
          <div class="page-header">
            <a href="#" class="brand-logo">Блог</a>
            <div class="right hide-on-med-and-down">
                {% if user.is_authenticated %}
                <a href="{% url 'post_new' %}" > <i class="material-icons">add</i></a>
                {% endif %}
            </div>
        </div>
      </div>
      </nav>
    </div>
      <div class="container" id="content">
            {% block content %}
            {% endblock %}
        </div>
        <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
              <h5 class="white-text">Обратная связь</h5>
              <h5 class="grey-text text-lighten-4">mussayevr007@gmail.com</h5>
              <h5 class="grey-text text-lighten-4">+7(999)-470-1498</h5>
            </div>
            <div class="col l4 offset-12 s12">
              <h5 class="white-text">Ссылки</h5>
              <ul>
                <h5><li><a href="https://vk.com/astroworld14" class="grey-text text-lighten-3">Вконтакте</a></li></h5>
            <h5><li><a  href="https://www.instagram.com/astrowolv14/" class="grey-text text-lighten-3">Instagram</a></li></h5>
              </ul>
            </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
              2019 Ramazan Mussayev
            </div>
          </div>
        </footer>
    </body>
</html>
