nav{
  background: #039be5 ;
}
body{
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  background: #e3f2fd ;

}
.page-footer{
  background: #039be5 ;
}
.footer-copyright{
  text-align: center;
}

main{
  flex: 1 0 auto;
}
.date{
text-align: left;
font-size: 10px;
}
h1{
  font-size: 28px;
  margin-top: 15px;
}
h5{
  font-size: 16px;
}
p{
  font-size: 20px;
  margin-top: 10px;
}
